* {
    scroll-behavior: smooth;
}

.App {
    min-height: 100vh;
    color: black;
    padding-top: 120px;
    padding-bottom: 70px;
}

.pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 3vw;
    font-weight: 800;
    padding: 4px;
    border-radius: 50px;
}

@media (max-width:768px) {
    .App {
        padding-top: 75px;
    }
    .pageTitle {
        font-size: 6.4vw;
    }
}